.buttons {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5vw;
    width: clamp(300px, 80vw, 1000px);
}

.button {
    width: 20vw;
    aspect-ratio: 3.5/1;
    transition: 0.1s ease-in;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.menu {
    background-image: url('../../assets/visual_resoruces/SVG/buttons/menu_button_na.svg');
}

.menu:hover {
    background-image: url('../../assets/visual_resoruces/SVG/buttons/menu_button_a.svg');
}

.info {
    background-image: url('../../assets/visual_resoruces/SVG/buttons/info_button_na.svg');
}

.info:hover {
    background-image: url('../../assets/visual_resoruces/SVG/buttons/info_button_a.svg');
}

.reset {
    background-image: url('../../assets/visual_resoruces/SVG/buttons/reset_button_na.svg');
}

.reset:hover {
    background-image: url('../../assets/visual_resoruces/SVG/buttons/reset_button_a.svg');
}

@media screen and (max-width: 600px) {
    .buttons {
        width: 100%;
        gap: 0; 
        justify-content: center;
    }

    .button {
        width: 33.33%; 
        margin: 0; 
    }

    .menu {
        background-image: url('../../assets/visual_resoruces/SVG/buttons/menu_s_na.svg');
    }

    .menu:hover {
        background-image: url('../../assets/visual_resoruces/SVG/buttons/menu_s_a.svg');
    }

    .info {
        background-image: url('../../assets/visual_resoruces/SVG/buttons/info_s_na.svg');
    }

    .info:hover {
        background-image: url('../../assets/visual_resoruces/SVG/buttons/info_s_a.svg');
    }

    .reset {
        background-image: url('../../assets/visual_resoruces/SVG/buttons/reset_s_na.svg');
    }

    .reset:hover {
        background-image: url('../../assets/visual_resoruces/SVG/buttons/reset_s_a.svg');
    }
}
