#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgba(0, 0, 0, 0.873);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

#overlay-content {
    background: rgba(38, 38, 38, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    padding: 20px;
    width: 90%;
    max-width: 700px;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

#overlay.show #overlay-content {
    transform: scale(1);
}

#overlay-content h2 {
    margin-top: 10px;
    font-family: Sprintura Demo;
    font-size: clamp(30px, 6vw, 50px);
    color: white;
}

#overlay-content h3 {
    font-size: clamp(22px, 5vw, 30px);
    color: white;
    font-family: BellMT;
    margin-bottom: 5px;
    text-decoration: underline;
}

#overlay-content p {
    color: white;
    font-family: BellMT;
    font-size: clamp(16px, 4.5vw, 20px);
    margin-bottom: 10px;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: normal;
}

#overlay-content img {
    width: 30%;
    margin-top: 10px;
    border-radius: 8px;
}

#closeOverlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(82, 77, 77);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

#overlay-content::-webkit-scrollbar {
    width: 10px;
}

#overlay-content::-webkit-scrollbar-track {
    background: rgba(38, 38, 38, 0.5);
    border-radius: 16px;
}

#overlay-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    border: 2px solid rgba(38, 38, 38, 0.85);
}

#overlay-content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 600px) {
    .image-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #overlay-content img {
        width: 80%;
    }
    
    #overlay-content {
        width: 85%;
        padding: 10px;
        padding-top: 25px;
    }

    #closeOverlay {
        width: 30px;
        height: 30px;
        font-size: 16px;
        top: 8px;
        right: 8px;
    }
    
    #overlay-content h2 {
        font-size: clamp(24px, 5.5vw, 30px);
    }

    #overlay-content h3 {
        font-size: clamp(18px, 4.5vw, 22px);
    }

    #overlay-content p {
        font-size: clamp(14px, 4vw, 16px);
    }
}